{% extends 'examapp/base.html'%}

{% block extra_title %}
{% endblock %}

{% block aditional_menu %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Test Models <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for tm in test_models %}
                    <li><a href='/examapp/{{tm.id}}/new/'>{{tm}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Last Created Tests <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for t in last_tests %}
                    <li><a href='/examapp/{{t.id}}/test/'>{{t}}</a></li>
                {% endfor %}
              </ul>
            </li>
{% endblock %}

{% block content %}
{% endblock %}
