<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body class="container">
<h1>Test Models</h1>
Click any of the followings links to create a new test:
{% for tm in test_models %}
<ul>
    <li><a href='/examapp/{{tm.id}}/new/'>{{tm}}</a></li>
</ul>
{% endfor %}

<h1>Last Created Tests</h1>
{% for t in last_tests %}
<ul>
    <li><a href='/examapp/{{t.id}}/result/'>{{t}}</a></li>
</ul>
{% endfor %}

</body>
</html>
